#container
{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

#entry-main
{
    display: block;
    text-align: justify;
    width: 750px;
}

#content h1
{
    font-size: 30px;
    color: #1c74b2;
}

#entry-data
{
    color: #666666;
    font-size: 14px;
}

#comments
{
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #262e3e;
    padding: 30px;
}

aside
{
    display: block;
    width: 200px;
    margin-left: 50px;
}
#aside-content h2
{
    color: #1c74b2;
}
#aside-content ul
{
    padding-left: 20px;
    font-size: 14px;
}
#aside-ad-box
{
    margin-top: 30px;
}
#comments
{
    margin-left: auto;
    margin-right: auto;
    background-color: #333333;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    font-size: 15px;
}
.comment
{
    padding: 10px;
}
.comment-header h3
{
    text-align: left;
    font-size: 15px;
    letter-spacing: 1px;
}
.comment-content
{
    display: inline-flex;
}
.avatar
{
    padding-right: 20px;
}
.comment-txt p
{
    text-align: justify;
    margin: 0;
}